.linegit {
	margin: 10px 0;
	height: 2.5em; /* 40 */
	color: #fff;
	position: relative;
	z-index: 1;
	background: #222;
}
.linegit a:visited,.linegit a:hover,.linegit a:link,.linegit a:active{
	list-style-type: none;
	color: #fff;
	text-decoration:none;
}
.linegit div {
	line-height: 2.5em;
}
.linegit-logo {
	width: 2.5em;
	height: 100%;
	position: absolute;
	float: left;
	text-align: center;
}
.linegit-download a:hover,.linegit-logo a:hover{
	color: #1abc9c;
}
.linegit-project {
	margin-left: 2.5em;
	height: 100%;
	float: left;
	text-align: left;
	z-index: -1;
}
.linegit-download {
	float: right;
	width: 2.5em;
	text-align: center;
	position:absolute;
	right:0;
}